<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../general_css.css">
    <link rel="stylesheet" href="../css/product_details.css">
</head>

<body>
    <div id="header">
        <a href="../index.html"><img src="../assets/logo-fondo-claro.png" alt="logo" class="logo"></a>
        <nav>
            <ul class="categories">
                <li>
                    <a href="#All categories"><i class="fas fa-bars"></i> All categories</a>
                    <ul>
                        <li><a href="#Computer components">Computer components</a></li>
                        <li><a href="#Peripherals">Peripherals</a></li>
                        <li><a href="#Accessories USB">Accessories USB</a></li>
                        <li><a href="#Monitors">Monitors</a></li>
                        <li><a href="#Software">Software</a></li>
                        <li><a href="#Data storage">Data storage</a></li>
                    </ul>
                </li>
            </ul>
            <div>
                <input type="search" name="search" placeholder="Search product">
                <button type="button">Search</button>
            </div>
            <ul class="cart">
                <li><a href="#login"><i class="fas fa-user"></i> Login</a></li>
                <li><a href="./shopping_cart.html"><i class="fas fa-shopping-cart"></i> Shopping cart</a></li>
            </ul>
        </nav>
    </div>
    <main class=".clearfix">
        <section id="product-images">
            <div class="small-images">
                <img src="../assets/book3.jpg" alt="">
                <img src="../assets/book3.jpg" alt="">
                <img src="../assets/book3.jpg" alt="">
            </div>
            <div class="big-image">
                <img src="../assets/book3.jpg" alt="">
            </div>
        </section>
        <section id="product-info">
            <div class="description">
                <h3>Samsung Galaxy Book3 Pro</h3>
                <p>Laptop 15,6" FullHD Intel Raptor lake Core i5-1335U</p>
            </div>
            <div class="price-date">
                <p><strong>899 €</strong></p>
                <p>Fecha de entrega</p>
            </div>
            <div class="button">
                <a href="./shopping_cart.html"><button>Añadir a la cesta</button></a>
                <a href="#Comprar ahora"><button>Comprar ahora</button></a>
            </div>
            <div class="others">
                <p>Talla y color</p>
            </div>
        </section>
        <section id="product-specs">
            <h2>Especificaciones</h2>
            <ul>
                <li><strong>Procesador</strong>: Intel® Core™ i5-1335U (10 núcleos, frecuencia desde 3.40GHz hasta
                    4.60GHz, 12 MB Intel® Smart Cache)</li>
                <li><strong>Memoria RAM</strong>: 8GB LPDDR4x 4266MHz</li>
                <li><strong>Almacenamiento</strong>: 512GB SSD</li>
                <li><strong>Unidad óptica</strong>: No</li>
                <li><strong>Pantalla</strong>: 15.6", PLS, FHD (1920x1080) 16:9, Anti-Glare</li>
                <li><strong>Controlador gráfico</strong>: Intel Iris Xe Graphics</li>
                <li><strong>Conectividad</strong>: Wi-Fi 6, 802.11 a/b/g/n/ac/ax 2.4G+5GHz, MIMO, HE160, 1024-QAM
                    Bluetooth v5.1</li>
                <li><strong>Webcam</strong>: Frontal HD 720p</li>
                <li><strong>Audio</strong>: Estéreo 2x2W Dolby Atmos</li>
                <li><strong>Teclado</strong>: Retroiluminado. Pro keyboard con teclado numérico</li>
                <li><strong>Batería</strong>: 54Wh, carga USB-C 45W</li>
                <li><strong>Conexiones</strong>: 2 x USB 3.1 Type-C (5Gbps), 2 x USB 3.2, HDMI 1.4, 1 x Combo salida
                    auriculares / entrada micrófono jack 3.5 mm, Lector de tarjetas micro SD</li>
                <li><strong>Sistema operativo</strong>: Windows 11 Home</li>
                <li><strong>Dimensiones</strong>: (Ancho x Profundidad x Altura) 356.6 x 229.1 x 15.4 mm</li>
                <li><strong>Peso</strong>: 1.57 kg</li>
                <li><strong>Color</strong>: Grafito</li>
                <li><strong>Contenido de la caja</strong>: Adaptador de 45W, cable USB-C a USB-C</li>
            </ul>
        </section>

    </main>
    <footer>
        <section id="conditions">
            <h2>Condiciones</h2>
            <!-- Aquí puedes insertar las condiciones -->
        </section>
        <section id="payment-methods">
            <h2>Métodos de pago</h2>
            <!-- Aquí puedes insertar los métodos de pago -->
        </section>
        <section id="help">
            <h2>¿Necesitas ayuda?</h2>
            <!-- Aquí puedes insertar la sección de ayuda -->
        </section>
        <p>© 2022 XYZ.Companynames.com Inc.</p>
    </footer>
</body>

</html>