<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El carrito de compra</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../general_css.css">
    <link rel="stylesheet" href="../css/shopping_cart.css">
</head>

<body>

    <div id="header">
        <a href="../index.html"><img src="../assets/logo-fondo-claro.png" alt="logo" class="logo"></a>
        <nav>
            <ul class="categories">
                <li>
                    <a href="#All categories"><i class="fas fa-bars"></i> All categories</a>
                    <ul>
                        <li><a href="#Computer components">Computer components</a></li>
                        <li><a href="#Peripherals">Peripherals</a></li>
                        <li><a href="#Accessories USB">Accessories USB</a></li>
                        <li><a href="#Monitors">Monitors</a></li>
                        <li><a href="#Software">Software</a></li>
                        <li><a href="#Data storage">Data storage</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <main>
        <h2>Mi carrito de compra</h2>
        <div class="product">
            <img src="../assets/book3.jpg" alt="">
            <h2>Samsung Galaxy Book3 Pro Negro Graphito</h2>
            <p>Precio: 899€</p>
            <label for="quantity">Cantidad:</label>
            <input type="number" id="quantity" name="quantity" min="1" max="10">

            <div class="services">
                <h2>Servicios adicionales</h2>
                <p>
                    <input type="checkbox" name="checkbox">
                    <label for="checkbox">Protección daños accidentales: 60€</label>
                </p>
                <p>
                    <input type="checkbox" name="checkbox1">
                    <label for="checkbox1">Protección integral para tu computadora: 25.99€</label>
                </p>
            </div>
            <div class="finance">
                <h2>Financia tu compra</h2>
                <p>A partir de 60€ al mes</p>
            </div>
        </div>
        <div class="button">
            <button><i class="fas fa-trash"></i> Vaciar cesta</button>
            <button><i class="fas fa-heart"></i> Guardar lista</button>
            <a href="../index.html"><button>Seguir comprando</button></a>
        </div>

        <div id="summary">
            <h3>Resumen</h3>
            <p>Subtotal artículos: 899€</p>
            <hr style="border-top: 1px dashed #000;">
            <p>Total (IVA incluido): 899€</p>
            <!-- <button><a href="./purchase_made.html">Guardar y continuar</a></button> -->
            <a href="./checkout.html" target="_blank"><input type="button" value="Realizar pedido"></a>
        </div>
    </main>
    <footer>
        <section>
            <h2>Conócenos</h2>
        </section>
        <section>
            <h2>Métodos de pago</h2>
        </section>
        <section>
            <h2>¿Necesitas ayuda?</h2>
        </section>
        <p>© 2003-2024, PCComponentes.com, Inc.</p>
    </footer>
</body>

</html>





<!-- <div id="payment-method">
    <h3>Método de pago</h3>
    <form>
        <label for="cardName">Nombre en la tarjeta:</label><br>
        <input type="text" id="cardName" name="cardName"><br>
        <label for="cardNumber">Número de la tarjeta:</label><br>
        <input type="text" id="cardNumber" name="cardNumber"><br>
        <label for="expiryDate">Fecha de vencimiento:</label><br>
        <input type="text" id="expiryDate" name="expiryDate"><br>
        <label for="cvv">CVV:</label><br>
        <input type="text" id="cvv" name="cvv"><br>
    </form>
</div> -->